.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.void-footer {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    text-align: center;
}